<div class="row">
  <div class="col-md-4">
    <h4>normal: {{ title }}</h4>
  </div>
  <div class="col-md-4">
    <h4>lowercase =></h4>
  </div>
  <div class="col-md-4">
    <h4>{{ title | lowercase }}</h4>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
      <h4>normal: {{ title }}</h4>
    </div>
    <div class="col-md-4">
      <h4> titlecase =></h4>
    </div>
    <div class="col-md-4">
      <h4>{{ title | titlecase }}</h4>
    </div>
  </div>
  <hr>


  <div class="row">
    <div class="col-md-4">
      <h4>normal: {{ title }}</h4>
    </div>
    <div class="col-md-4">
      <h4> uppercase =></h4>
    </div>
    <div class="col-md-4">
      <h4>{{ title | uppercase }}</h4>
      <h4>turkish uppercase : {{turkishUpperCaseVal}}</h4>
    </div>
  </div>
  <hr>


