<div class="row">
  <div class="col-md-4">
    <br />
    <input type="text" [(ngModel)]="name" />
  </div>
  <div class="col-md-4">
    <br />
    <p>ng modal :{{ name }}</p>
    <p>local Storage value : {{ localStorageVal }}</p>
  </div>
  <div class="col-md-4 d-grid gap-2">
    <br />
    <button class="btn btn-warning" (click)="setItem(name)" type="button">
      SetItem
    </button>
    <button class="btn btn-warning" (click)="getItem()" type="button">
      GetItem
    </button>
    <button class="btn btn-warning" (click)="clearItem()" type="button">
      ClearItem
    </button>
    <button class="btn btn-danger" (click)="clearAll()" type="button">
      ClearAll
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>Name:</p>
    <input type="text" [(ngModel)]="objName" />
    <p>Surname:</p>
    <input type="text" [(ngModel)]="objSurname" />
    <p>Age :</p>
    <input type="text" [(ngModel)]="objAge" />
  </div>

  <div class="col-md-4 d-grid gap-4">
    <br />
    <button class="btn btn-info" (click)="setObj()" type="button">
      SetItem
    </button>
    <button class="btn btn-info" (click)="getObj()" type="button">
      GetItem
    </button>

    <h4>
      obje: <span class="badge bg-info text-dark">{{ localStorageObj }}</span>
    </h4>
  </div>
</div>
<div class="col-md-4"></div>

<hr>
<h2><span  [routerLink]="['../cookie']"class="badge bg-info text-dark"> Go To Cookies Page  </span></h2>