.red{

    background-color: red;
    display: inline-block;
    color:beige
}
.blue{

    background-color:blue;
    display: inline-block;
    color:beige
}
.purple{
    background-color:purple;
    display: inline-block;
    color:beige
}